$main-color = rgb(251, 173, 196)
$main-color-dark = rgba(251,173,196,0.9)
$sub-color = #F5F0F2
$sub-color-dark = rgba(245, 240, 242,0.9)
$btn-text-color = #5F505F
$title-color = #5F505F
$title-color-dark = #FFFFFF
$hover-color = #bbc5cf
$active-color = #93a3b3